 <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
        <meta name="description" content="Термоусадочная пленка пвх, стрейч пленка и другие упаковочные материалы от ведущих европейских и российских производителей.">
        <meta name="keywords" content="стрейч, пленка стрейч, пленка пвх, пленка упаковочная стрейч, термоусадочная пленка пвх, термоусадочная пленка, стрейч пленка купить">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/global.css">

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid header">

            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="" width="336" height="81" />
                </a>
            </div>
            <div class="info">
                <ul class="nav nav-pills top-menu-contacts pull-right">
                    <li>
                        <span class="icon mail"></span>
                        <span><a href="mailto:info@mnogoplenki.ru">info@mnogoplenki.ru</a></span>
                    </li>
                    <li>
                        <span class="icon phone"></span>
                        <span>8 (495) 363-2919</span>
                    </li>
                </ul>
                <ul class="nav nav-pills top-menu pull-right">
                    <li>
                        {{#if isIndexPage}}
                            <a class="active">Главная</a>
                        {{else}}
                            <a href="/">Главная</a>
                        {{/if}}
                    </li>
                    <li>
                        {{#if isCatalogPage}}
                            <a class="active">Каталог</a>
                        {{else}}
                            <a href="/catalog.html">Каталог</a>
                        {{/if}}
                    </li>
                    <li>
                        {{#if isPricePage}}
                            <a class="active">Прайс-лист</a>
                        {{else}}
                            <a href="/prices.html#all">Прайс-лист</a>
                        {{/if}}
                    </li>
                    <li>
                        {{#if isContactsPage}}
                            <a class="active">Контакты</a>
                        {{else}}
                            <a href="/contacts.html">Контакты</a>
                        {{/if}}
                    </li>
                </ul>
            </div>

        </div>

        <div class="container-fluid">